<div class="container">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2>Managing {{guild.name}}</h2>

    <h3 class="text-center">Guild Settings</h3>
      {{#each guild.settings}}
      	<pre class="text-center"><span name="{{@key}}" rel="noopener">{{this}}</span></pre>
      {{else}}
        <p class="text-center"> Lol, nothing yet. </p>
      {{/each}}
    <hr />
    <h3 class="text-center">Channel Settings</h3>
    <!-- I don't know if we want to do a dropdown or something similar to the main page with a side fixed bar -->
    <div class="btn-group text-center">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Channels <span class="caret"></span>
      </button>
      <ul class="dropdown-menu text-center scroll">
        {{#each guild.channels}}
  				<li><a class="dropdown-item" name="{{@key}}" rel="noopener" href="#{{@key}}" onclick="setChannel({{JSONstringify this}})">{{this.name}}</a></li>
  			{{else}}
  				<li><a class="dropdown-item" name="No Channels" rel="noopener">No Channels</a></li>
  			{{/each}}
      </ul>
    </div>
    <br />
    <div id="channelSettings">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="prefixValue">Prefix</label>
            <div class="input-group">
              <div class="input-group-addon">Prefix</div>
              <input type="text" class="form-control" id="prefixValue" placeholder="/">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
      <br />
      <div class="respondToSettings">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="respondToSettings">Respond To Settings?</label>
            <div class="input-group">
              <div class="input-group-addon">Respond To Settings?</div>
              <label class="switch">
                <input type="checkbox" id="respondToSettings">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </form>
    </div>
  </div><!-- end centering wrapper -->
	{{> footer}}
</div><!-- end container -->
<!-- required js for page -->
<script src="/js/main.js"></script>
{{> themes}}
